<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="${lang}">
<head>
${#html.default_css}
<link rel="stylesheet" href="${.}" />
${/html.default_css}
${#html.default_js}
<script src="${.}"></script>
${/html.default_js}
</head>
<body>
${{body}}
</body>
</html>
<!--test-template-->
